*.env


data/vectorstore/


finetuning/output/checkpoints*/
finetuning/output/checkpoints_v2/
finetuning/output/checkpoints_v3/


*.safetensors
*.bin
*.pt


__pycache__/
*.pyc


backend/data/
data/raw_documents/